.masuk {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  text-decoration: none;
  color: black;
}

.shop-best {
  font-family: Rockwell;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  text-align: center;

  color: #000000;
}

.save-diskon {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  /* identical to box height, or 93% */

  text-align: center;

  color: #000000;
}

.judul1-4 {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  /* or 200% */

  text-align: center;

  color: #000000;
}

.judul2-4 {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;

  /* identical to box height, or 58% */

  text-align: center;

  color: #000000;
}

.judul3-4 {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;

  /* identical to box height, or 217% */

  text-align: center;

  color: #000000;
}

.mengapa {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: 500;
  font-size: 45px;

  /* or 58% */

  text-align: center;

  color: #ffffff;
}

.karena {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;

  /* or 162% */

  color: #ffffff;
}

.judul1-6 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;

  /* identical to box height, or 150% */

  align-items: center;
  text-align: center;

  color: #ffffff;
}

.judul2-6 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 45px;

  /* identical to box height, or 53% */

  align-items: center;
  text-align: center;

  color: #ffffff;
}

.kotak-grub7 {
  background: rgba(0, 0, 0, 0.33);
  border-radius: 134px;
}

.judul1-9 {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;

  color: #000000;
}

.judul2-9 {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;

  /* identical to box height */

  color: #000000;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.Rectangle {
  background: #1e2833;
  color: white;
}

/* Row 1 */

position: absolute;
width: 980px;
height: 182px;
left: 185px;
top: 6307px;

/* Services */

position: absolute;
width: 106px;
height: 182px;
left: 575px;
top: 6307px;

/* Services */

position: absolute;
height: 22px;
left: 0%;
right: 38.68%;
top: calc(50% - 22px / 2 - 80px);

font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 17px;
line-height: 22px;
letter-spacing: -0.231818px;

color: #ffd2dd;

/* Email Marketing */

position: absolute;
height: 20px;
left: 0%;
right: 0%;
top: calc(50% - 20px / 2 - 39px);

font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 20px;
/* identical to box height */
letter-spacing: -0.204545px;

color: #ffffff;

/* Campaigns */

position: absolute;
height: 20px;
left: 0%;
right: 27.36%;
top: calc(50% - 20px / 2 + 1px);

font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 20px;
/* identical to box height */
letter-spacing: -0.204545px;

color: #ffffff;

/* Branding */

position: absolute;
height: 20px;
left: 0%;
right: 43.4%;
top: calc(50% - 20px / 2 + 41px);

font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 20px;
/* identical to box height */
letter-spacing: -0.204545px;

color: #ffffff;

/* Offline */

position: absolute;
height: 20px;
left: 0%;
right: 57.55%;
top: calc(50% - 20px / 2 + 81px);

font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 20px;
/* identical to box height */
letter-spacing: -0.204545px;

color: #ffffff;

/* About */

position: absolute;
width: 65px;
height: 182px;
left: 853px;
top: 6307px;

/* About */

position: absolute;
height: 22px;
left: 0%;
right: 26.15%;
top: calc(50% - 22px / 2 - 80px);

font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 17px;
line-height: 22px;
letter-spacing: -0.231818px;

color: #ffd2dd;

/* Our Story */

position: absolute;
height: 20px;
left: 0%;
right: -1.54%;
top: calc(50% - 20px / 2 - 39px);

font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 20px;
/* identical to box height */
letter-spacing: -0.204545px;

color: #ffffff;

/* Benefits */

position: absolute;
height: 20px;
left: 0%;
right: 13.85%;
top: calc(50% - 20px / 2 + 1px);

font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 20px;
/* identical to box height */
letter-spacing: -0.204545px;

color: #ffffff;

/* Team */

position: absolute;
height: 20px;
left: 0%;
right: 43.08%;
top: calc(50% - 20px / 2 + 41px);

font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 20px;
/* identical to box height */
letter-spacing: -0.204545px;

color: #ffffff;

/* Careers */

position: absolute;
height: 20px;
left: 0%;
right: 18.46%;
top: calc(50% - 20px / 2 + 81px);

font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 20px;
/* identical to box height */
letter-spacing: -0.204545px;

color: #ffffff;

/* Help */

position: absolute;
width: 76px;
height: 102px;
left: 1089px;
top: 6307px;

/* Help */

position: absolute;
height: 22px;
left: 0%;
right: 53.95%;
top: calc(50% - 22px / 2 - 40px);

font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 17px;
line-height: 22px;
letter-spacing: -0.231818px;

color: #ffd2dd;

/* FAQs */

position: absolute;
height: 20px;
left: 0%;
right: 52.63%;
top: calc(50% - 20px / 2 + 1px);

font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 20px;
/* identical to box height */
letter-spacing: -0.204545px;

color: #ffffff;

/* Contact Us */

position: absolute;
height: 20px;
left: 0%;
right: 0%;
top: calc(50% - 20px / 2 + 41px);

font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 20px;
/* identical to box height */
letter-spacing: -0.204545px;

color: #ffffff;

/* CTA */

position: absolute;
width: 213px;
height: 99px;
left: 185px;
top: 6307px;

/* Ready to get started */

position: absolute;
height: 29px;
left: 0%;
right: 0%;
top: calc(50% - 29px / 2 - 35px);

font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 29px;
/* identical to box height */
letter-spacing: -0.3px;

color: #ffffff;

/* Button */

position: absolute;
left: 0%;
right: 17.84%;
top: 49.49%;
bottom: 0%;

/* Rectangle */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #ffd2dd;
border-radius: 8px;

/* Get started */

position: absolute;
height: 22px;
left: 23.43%;
right: 23.43%;
top: calc(50% - 22px / 2);

font-family: DM Sans;
font-style: normal;
font-weight: bold;
font-size: 17px;
line-height: 22px;
letter-spacing: -0.231818px;

color: #5e4dcd;

/* Row 2 */

position: absolute;
width: 1069px;
height: 22px;
left: 185px;
top: 6589px;

/* Terms & Conditions */

position: absolute;
height: 20px;
left: 0%;
right: 87.46%;
top: calc(50% - 20px / 2 + 1px);

font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 20px;
/* identical to box height */
letter-spacing: -0.204545px;

color: #ffffff;

/* Privacy Policy */

position: absolute;
height: 20px;
left: 16.18%;
right: 75.12%;
top: calc(50% - 20px / 2 + 1px);

font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 20px;
/* identical to box height */
letter-spacing: -0.204545px;

color: #ffffff;

/* Social */

position: absolute;
width: 133.96px;
height: 22px;
left: 935.04px;
top: 0px;

/* 001-facebook */

position: absolute;
width: 9.92px;
height: 19.84px;
left: 935.04px;
top: 1px;

/* Path */

position: absolute;
left: 87.47%;
right: 11.6%;
top: 4.55%;
bottom: 5.25%;

background: #ffffff;

/* 003-twitter */

position: absolute;
width: 22px;
height: 17.88px;
left: 985px;
top: 2px;

/* Path */

position: absolute;
left: 92.14%;
right: 5.8%;
top: 9.09%;
bottom: 9.66%;

background: #ffffff;

/* 004-instagram */

position: absolute;
width: 22px;
height: 22px;
left: 1047px;
top: 0px;

/* Shape */

position: absolute;
left: 97.94%;
right: 0%;
top: 0%;
bottom: 0%;

background: #ffffff;

/* Path */

position: absolute;
left: 97.94%;
right: 0%;
top: 0%;
bottom: 0%;

/* Path */

position: absolute;
left: 98.13%;
right: 0.19%;
top: 9.38%;
bottom: 9.38%;

/* Shape */

position: absolute;
left: 98.46%;
right: 0.51%;
top: 25%;
bottom: 25%;

background: #ffffff;

/* Path */

position: absolute;
left: 98.46%;
right: 0.51%;
top: 25%;
bottom: 25%;

/* Path */

position: absolute;
left: 98.65%;
right: 0.71%;
top: 34.38%;
bottom: 34.38%;

/* Oval */

position: absolute;
left: 99.46%;
right: 0.41%;
top: 19.79%;
bottom: 73.54%;

background: #ffffff;

/* Copyright © 2020. Lo */

position: absolute;
height: 20px;
left: 38.47%;
right: 39.44%;
top: calc(50% - 20px / 2 + 3319.5px);

font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 20px;
/* identical to box height */
letter-spacing: -0.204545px;

color: #ffffff;

mix-blend-mode: normal;
opacity: 0.5;
