.masuk {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  text-decoration: none;
  color: black;
}

.masuk:hover{
  color:black;
}

.shop-best {
  font-family: Rockwell;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  text-align: center;

  color: #000000;
}

.save-diskon {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  /* identical to box height, or 93% */

  text-align: center;

  color: #000000;
}

.judul1-4 {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  /* or 200% */

  text-align: center;

  color: #000000;
}

.judul2-4 {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;

  /* identical to box height, or 58% */

  text-align: center;

  color: #000000;
}

.judul3-4 {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;

  /* identical to box height, or 217% */

  text-align: center;

  color: #000000;
}

.mengapa {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: 500;
  font-size: 45px;

  /* or 58% */

  text-align: center;

  color: #ffffff;
}

.karena {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;

  /* or 162% */

  color: #ffffff;
}

.judul1-6 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;

  /* identical to box height, or 150% */

  align-items: center;
  text-align: center;

  color: #ffffff;
}

.judul2-6 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 45px;

  /* identical to box height, or 53% */

  align-items: center;
  text-align: center;

  color: #ffffff;
}

.kotak-grub7 {
  background: rgba(0, 0, 0, 0.33);
  border-radius: 134px;
}

.judul1-9 {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;

  color: #000000;
}

.judul2-9 {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;

  /* identical to box height */

  color: #000000;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.Rectangle {
  background: #1e2833;
  color: white;
}

